.super-mario {
    width: 100px;
    position: absolute;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 210px;
  }
  
  .baloon {
      position: absolute;
      right: 190px;
      top: 50px;
      z-index: 4;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
      right: 220px;
      z-index: 6;
    
  }
  
  .bowser {
    width: 200px;
    position: absolute;
      right: 10px;
    z-index: 3;
    top: 200px;
  }